body {
    margin: 0;
    font-family: Georgia, serif;
}

.menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.menu li {
    border-left: 1px solid #323232;
    border-right: 1px solid #131313;
}

a {
    text-decoration: none;
}
.menu li a {
    font-size: 1.79em;
    color: black;
    display:block;
    padding: 17px 24px;
    overflow: hidden;
}

#menu input {
    font-size: 30px;
    width: 200px;
    height: 61px;
}

    .menu li a:hover {
        font-weight:bold;
        color: black;
        text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    }

.menu {
    padding: 17px 24px;
    padding-top: 1px;
    padding-left: 0;
    border: 2px solid black;
    border-left: 0;
    border-right: 0;
    height: 50px;
    background-color:#d1cfbe;
}


header {
    background-color:#996b57;
}

h1 {
    text-align: center;
    font-family: 'Lucida Calligraphy';
    width: 870px;
    margin-left:auto;
    margin-right:auto;
}

.boite {
    font-size: 30px;
    width:400px;
    text-align:center;
}

#rubrique {
    display: flex;
    justify-content: space-between;
    margin-left: 78px;
    margin-right: 78px;
}
.details {
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #209630), color-stop(1, #57E05C) );
    background-image: -o-linear-gradient(bottom, #209630 0%, #57E05C 100%);
    background-image: -moz-linear-gradient(bottom, #209630 0%, #57E05C 100%);
    background-image: -webkit-linear-gradient(bottom, #209630 0%, #57E05C 100%);
    background-image: -ms-linear-gradient(bottom, #209630 0%, #57E05C 100%);
    background-image: linear-gradient(to bottom, #209630 0%, #57E05C 100%);
    color: #225228;
    font-size: 25px;
    border: 1px solid;
    /*arrrondir les bords*/
    border-radius: 5px;
}

.details:hover{
    font-weight:bold;
}

#haut {
    background-color: #d1cfbe;
}

footer {
    background-color: #2C2C2C;
    color: white;
    text-align:center;
    padding-bottom:2em;
}
#newsletter button:hover{
    font-weight:bold;
}

.reseaux_sociaux li{
    display:inline;
}

#copyright{
    margin-top:50px;
    font-size:10px;
}