body {
    margin: 0;
    font-family: Georgia, serif;
}

.menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.menu li {
    border-left: 1px solid #323232;
    border-right: 1px solid #131313;
}

a {
    text-decoration: none;
}

.menu li a {
    font-size: 1.79em;
    color: black;
    display: block;
    padding: 17px 24px;
    overflow: hidden;
}

    .menu li a:hover {
        font-weight: bold;
        color: black;
        text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    }

.menu {
    padding: 17px 24px;
    padding-top: 1px;
    padding-left: 0;
    border: 2px solid black;
    border-left: 0;
    border-right: 0;
    height: 50px;
    background-color: #d1cfbe;
}


header {
    background-color: #996b57;
}
#menu input{
    font-size:30px;
    width:200px;
    height:61px;
}

#tarifs{
    text-align:center;
    font-size:45px;
}

.decouvrir {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

#grande_boite1 {
    padding-top:25px;
    padding-bottom: 50px;
}

#grande_boite2 {
    padding-bottom: 25px;
}

.boite h2 {
    font-size: 50px;
}

.boite p {
    font-size: 50px;
}

.boite .conditions {
    font-size: 20px;
}


.boite {
    width: 400px;
    background-color: white;
    text-align: center;
    padding: 20px;
    border: 2px solid white;
    border-radius: 15px;
}

    .boite button {
        width: 50%;
        margin-left: 15%;
        margin-right: 15%;
        font-size:20px;
    }


#boite1 {
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #FF7700), color-stop(1, #FF2D26) );
    background-image: -o-linear-gradient(bottom, #FF7700 0%, #FF2D26 100%);
    background-image: -moz-linear-gradient(bottom, #FF7700 0%, #FF2D26 100%);
    background-image: -webkit-linear-gradient(bottom, #FF7700 0%, #FF2D26 100%);
    background-image: -ms-linear-gradient(bottom, #FF7700 0%, #FF2D26 100%);
    background-image: linear-gradient(to bottom, #FF7700 0%, #FF2D26 100%);
}

#boite2 {
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #DC71F7), color-stop(1, #70008C) );
    background-image: -o-linear-gradient(bottom, #DC71F7 0%, #70008C 100%);
    background-image: -moz-linear-gradient(bottom, #DC71F7 0%, #70008C 100%);
    background-image: -webkit-linear-gradient(bottom, #DC71F7 0%, #70008C 100%);
    background-image: -ms-linear-gradient(bottom, #DC71F7 0%, #70008C 100%);
    background-image: linear-gradient(to bottom, #DC71F7 0%, #70008C 100%);
}

#boite3 {
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #28CAD6), color-stop(1, #016D75) );
    background-image: -o-linear-gradient(bottom, #28CAD6 0%, #016D75 100%);
    background-image: -moz-linear-gradient(bottom, #28CAD6 0%, #016D75 100%);
    background-image: -webkit-linear-gradient(bottom, #28CAD6 0%, #016D75 100%);
    background-image: -ms-linear-gradient(bottom, #28CAD6 0%, #016D75 100%);
    background-image: linear-gradient(to bottom, #28CAD6 0%, #016D75 100%);
}

#boite4 {
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #949494), color-stop(1, #3D3D3D) );
    background-image: -o-linear-gradient(bottom, #949494 0%, #3D3D3D 100%);
    background-image: -moz-linear-gradient(bottom, #949494 0%, #3D3D3D 100%);
    background-image: -webkit-linear-gradient(bottom, #949494 0%, #3D3D3D 100%);
    background-image: -ms-linear-gradient(bottom, #949494 0%, #3D3D3D 100%);
    background-image: linear-gradient(to bottom, #949494 0%, #3D3D3D 100%);
}

#boite5 {
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #AD5C26), color-stop(1, #783305) );
    background-image: -o-linear-gradient(bottom, #AD5C26 0%, #783305 100%);
    background-image: -moz-linear-gradient(bottom, #AD5C26 0%, #783305 100%);
    background-image: -webkit-linear-gradient(bottom, #AD5C26 0%, #783305 100%);
    background-image: -ms-linear-gradient(bottom, #AD5C26 0%, #783305 100%);
    background-image: linear-gradient(to bottom, #AD5C26 0%, #783305 100%);
}

#boite6 {
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #B6FF38), color-stop(1, #1F9421) );
    background-image: -o-linear-gradient(bottom, #B6FF38 0%, #1F9421 100%);
    background-image: -moz-linear-gradient(bottom, #B6FF38 0%, #1F9421 100%);
    background-image: -webkit-linear-gradient(bottom, #B6FF38 0%, #1F9421 100%);
    background-image: -ms-linear-gradient(bottom, #B6FF38 0%, #1F9421 100%);
    background-image: linear-gradient(to bottom, #B6FF38 0%, #1F9421 100%);
}

footer {
    background-color: #2C2C2C;
    color: white;
    text-align: center;
    padding-bottom: 2em;
}

    footer h1 {
        font-family: 'Lucida Calligraphy';
    }

#newsletter button:hover {
    font-weight: bold;
}

.reseaux_sociaux li {
    display: inline;
}

#copyright {
    margin-top: 50px;
    font-size: 10px;
}
