body {
    margin: 0;
}

header {
    margin-bottom: 100px;
}

.menu {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
}

.menu ul {
    padding: 0;
    margin: 0;
    padding-top: 3em;
    display: flex;
    list-style: none;
    }


button {
    font-size: 25px;
    background-color: #2FCCAF;
    margin-left: 50px;
    border: 5px solid #2FCCAF;
    border-radius: 7px;
    color: white;
}

button:hover {
    font-weight: bold;
}


#connexion {
    text-align: center;
}

#logo {
    float: left;
}

#connexion h1 {
    color: #2FCCAF;
    font-size: 70px;
}

#email {
    width: 400px;
    height: 50px;
}

#mdp {
    width: 510px;
    height:50px;
}

input {
    font-size:30px;
    border-color: #2FCCAF;
    border-width:3px;
    margin:30px;
}

.truc{
    font-size:30px;
}
#inscrit{
    margin-bottom:50px;
}

a{
    text-decoration:none;
}

#connexion img{
    text-align:center;
}

footer h1 {
    font-family: 'Lucida Calligraphy';
}


footer {
    background-color: #2C2C2C;
    color: white;
    text-align: center;
    padding-bottom: 1em;
}

.reseaux_sociaux li a {
    text-decoration: none;
}

.reseaux_sociaux li {
    display: inline;
}

#copyright {
    margin-top: 50px;
    font-size: 10px;
}
