body {
    margin: 0;
}

header {
    margin-bottom: 80px;
}

.menu {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
}

.menu ul {
    padding: 0;
    margin: 0;
    padding-top: 3em;
    display: flex;
    list-style: none;
}

button {
    font-size: 25px;
    background-color: #2FCCAF;
    margin-left: 50px;
    border: 5px solid #2FCCAF;
    border-radius: 7px;
    color: white;
}

button:hover {
    font-weight: bold;
}


#logo {
    float: left;
}

a{
    text-decoration:none;
}

#image{
    border:none;
    padding-left:100px;
    float:right;
}

#milieu h1 {
    color: #D46B1B;
    font-size:80px;
    text-align: left;
    margin-top: 100px;
    margin-left:15px;
}

#milieu h3{
    font-size:35px;
    padding-left:25px;
}

#milieu img{
    float:right;
}

#milieu button {
    margin-bottom: 30px;
}

footer{
    margin-top:50px;
}

button:hover{
    font-weight:bold;
}

#texte {
    text-align: center;
    font-size: 100px;
    color: indianred;
    padding-top: 50px;
    margin-top:100px;
}


#decouvrir {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

#grande_boite {
    background-image: url(fond.jpg);
    padding-bottom:50px;
}

.boite h2{
    font-size:50px;
}

.boite p {
    font-size:35px;
}

.boite{
    width:400px;
    background-color:white;
    text-align:center;
    padding : 20px;
    border : 2px solid white;
    border-radius:15px;
}

.boite button{
    width:50%;
    margin-left:15%;
    margin-right:15%
}


footer {
    background-color: #2C2C2C;
    color: white;
    text-align: center;
    padding-bottom: 1em;
}

footer h1{
    font-family: 'Lucida Calligraphy';
}
#newsletter {
    margin-top:0;
    font-size:50px;
    margin-left:30px;
}

#newsletter button:hover {
    font-weight: bold;
}
#newsletter img{
    float:right;
}

input{
    font-size:25px;
    text-align:center;
}

.reseaux_sociaux li {
    display: inline;
}

#copyright {
    margin-top: 50px;
    font-size: 10px;
}
