﻿body {
    margin: 0;
}

header {
    margin-bottom: 100px;
}

.menu {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
}

.menu ul {
    padding: 0;
    margin: 0;
    padding-top: 3em;
    display: flex;
    list-style: none;
}


button {
    font-size: 25px;
    background-color: #2FCCAF;
    margin-left: 50px;
    border: 5px solid #2FCCAF;
    border-radius: 7px;
    color: white;
}

button:hover {
    font-weight: bold;
}


#logo {
    float: left;
}

#mois {
    text-align:center;
}

#mois h1{
    color: #D46B1B;
    margin-bottom:40px;
    font-size:90px;
}

.dino_mois {
    display:inline;
    margin:50px;
}

#mois p {
    font-size:30px;
    margin-left:100px;
    text-align:left;
}

#recherche {
    background-color: #2FCCAF;
    padding:30px;
    padding-top:15px;
}
#recherche button{
    border-color:white;
    border-width:2px;
}

#recherche h2{
    font-size:40px;
    color:white;
}

#recherche input{
    font-size:25px;
}

#selen {
    display: flex;
    justify-content: space-between;
}

#camilia {
    display: flex;
    justify-content: space-between;
}

.liste {
    text-align:center;
}
.liste img{
    padding:30px;
    padding-bottom:0;
}

#elodie{
    text-align:center;
    margin:30px;
}
footer h1 {
    font-family: 'Lucida Calligraphy';
}


footer {
    background-color: #2C2C2C;
    color: white;
    text-align: center;
    padding-bottom: 1em;
}

.reseaux_sociaux li a{
    text-decoration:none;
}

.reseaux_sociaux li {
    display: inline;
}

#copyright {
    margin-top: 50px;
    font-size: 10px;
}